In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
churn_path = "../CSV/churn.csv"
adult_path = "../CSV/adults.csv"

churn_data = pd.read_csv(churn_path)
adult_data = pd.read_csv(adult_path)

print(churn_data.head())
print("+-----------------------------------------------------------------------------+")
print(adult_data.head())

  State  Account LengthChurn  Area CodeChurn     Phone Int'l Plan VMail Plan  \
0    KS                  128             415  382-4657         no        yes
1    OH                  107             415  371-7191         no        yes
2    NJ                  137             415  358-1921         no         no
3    OH                   84             408  375-9999        yes         no
4    OK                   75             415  330-6626        yes         no

   VMail MessageChurn  Day MinsChurn  Day CallsChurn  Day ChargeChurn  ...  \
0                  25          265.1             110            45.07  ...
1                  26          161.6             123            27.47  ...
2                   0          243.4             114            41.38  ...
3                   0          299.4              71            50.90  ...
4                   0          166.7             113            28.34  ...

   Eve CallsChurn  Eve ChargeChurn  Night Mins  Night CallsChurn  \
0              99            16.78       244.7                91
1             103            16.62       254.4               103
2             110            10.30       162.6               104
3              88             5.26       196.9                89
4             122            12.61       186.9               121

   Night ChargeChurn  Intl MinsChurn  Intl CallsChurn  Intl ChargeChurn  \
0              11.01            10.0                3              2.70
1              11.45            13.7                3              3.70
2               7.32            12.2                5              3.29
3               8.86             6.6                7              1.78
4               8.41            10.1                3              2.73

   CustServ CallsChurn  Churn?
0                    1  False.
1                    1  False.
2                    0  False.
3                    2  False.
4                    3  False.

[5 rows x 21 columns]
+-----------------------------------------------------------------------------+
   age         workclass  fnlwgt: education:  education-num:  \
0   39         State-gov    77516  Bachelors              13
1   50  Self-emp-not-inc    83311  Bachelors              13
2   38           Private   215646    HS-grad               9
3   53           Private   234721       11th               7
4   28           Private   338409  Bachelors              13

      marital-status:        occupation:  relationship:  race:    sex:  \
0       Never-married       Adm-clerical  Not-in-family  White    Male
1  Married-civ-spouse    Exec-managerial        Husband  White    Male
2            Divorced  Handlers-cleaners  Not-in-family  White    Male
3  Married-civ-spouse  Handlers-cleaners        Husband  Black    Male
4  Married-civ-spouse     Prof-specialty           Wife  Black  Female

   capital-gain:  capital-loss:  hours-per-week: native-country:  class
0           2174              0               40   United-States  <=50K
1              0              0               13   United-States  <=50K
2              0              0               40   United-States  <=50K
3              0              0               40   United-States  <=50K
4              0              0               40            Cuba  <=50K

In [4]:
# first the Churn dataset cross tabulation

# Identify and define the categorical columns
categorical_columns = churn_data.select_dtypes(include=['object']).columns

# Loop through pairs of categorical columns and create cross-tabulations
for i, col1 in enumerate(categorical_columns):
    for col2 in categorical_columns[i+1:]:
        cross_tab = pd.crosstab(churn_data[col1], churn_data[col2])
        
        # Display the cross-tabulation and discuss results
        print(f"Cross-Tabulation between {col1} and {col2}:\n")
        print(cross_tab)
        print("\n-------------------------------------------------\n")

Cross-Tabulation between State and Phone:

Phone  327-1058  327-1319  327-3053  327-3587  327-3850  327-3954  327-4795  \
State
AK            0         0         0         0         0         0         0
AL            0         0         0         0         0         0         0
AR            0         0         0         0         0         0         0
AZ            0         0         1         0         0         1         0
CA            0         0         0         0         0         0         0
CO            0         1         0         0         0         0         0
CT            0         0         0         0         0         0         0
DC            0         0         0         0         0         0         0
DE            0         0         0         0         0         0         0
FL            0         0         0         0         0         0         0
GA            0         0         0         0         0         0         0
HI            0         0         0         0         0         0         0
IA            0         0         0         0         0         0         0
ID            0         0         0         0         0         0         1
IL            0         0         0         0         0         0         0
IN            0         0         0         0         0         0         0
KS            0         0         0         0         0         0         0
KY            0         0         0         0         0         0         0
LA            0         0         0         0         0         0         0
MA            0         0         0         0         0         0         0
MD            0         0         0         0         0         0         0
ME            0         0         0         0         0         0         0
MI            0         0         0         0         0         0         0
MN            0         0         0         0         0         0         0
MO            0         0         0         0         0         0         0
MS            0         0         0         0         0         0         0
MT            0         0         0         0         0         0         0
NC            0         0         0         0         0         0         0
ND            0         0         0         0         0         0         0
NE            0         0         0         0         0         0         0
NH            0         0         0         0         0         0         0
NJ            0         0         0         0         0         0         0
NM            0         0         0         0         0         0         0
NV            0         0         0         0         0         0         0
NY            0         0         0         0         0         0         0
OH            0         0         0         0         0         0         0
OK            1         0         0         0         0         0         0
OR            0         0         0         0         0         0         0
PA            0         0         0         0         0         0         0
RI            0         0         0         0         0         0         0
SC            0         0         0         0         0         0         0
SD            0         0         0         0         1         0         0
TN            0         0         0         0         0         0         0
TX            0         0         0         0         0         0         0
UT            0         0         0         1         0         0         0
VA            0         0         0         0         0         0         0
VT            0         0         0         0         0         0         0
WA            0         0         0         0         0         0         0
WI            0         0         0         0         0         0         0
WV            0         0         0         0         0         0         0
WY            0         0         0         0         0         0         0

Phone  327-5525  327-5817  327-6087  ...  422-5350  422-5865  422-5874  \
State                                ...
AK            0         0         0  ...         0         0         0
AL            0         0         0  ...         0         0         0
AR            0         0         0  ...         0         0         0
AZ            0         0         0  ...         0         0         0
CA            0         0         0  ...         0         0         0
CO            0         0         0  ...         0         0         0
CT            0         0         0  ...         0         0         0
DC            0         0         0  ...         0         0         0
DE            0         1         0  ...         0         0         0
FL            0         0         0  ...         0         0         0
GA            0         0         0  ...         0         0         0
HI            0         0         0  ...         0         0         0
IA            0         0         0  ...         0         0         0
ID            0         0         0  ...         0         0         0
IL            0         0         0  ...         0         0         0
IN            0         0         0  ...         0         0         0
KS            0         0         0  ...         0         0         0
KY            0         0         0  ...         0         0         0
LA            0         0         0  ...         0         0         0
MA            0         0         0  ...         0         0         0
MD            0         0         0  ...         0         0         0
ME            0         0         0  ...         0         0         0
MI            0         0         0  ...         0         0         0
MN            0         0         0  ...         1         0         0
MO            0         0         1  ...         0         0         0
MS            0         0         0  ...         0         0         0
MT            0         0         0  ...         0         0         0
NC            0         0         0  ...         0         0         0
ND            0         0         0  ...         0         0         0
NE            0         0         0  ...         0         0         0
NH            0         0         0  ...         0         0         0
NJ            0         0         0  ...         0         0         0
NM            0         0         0  ...         0         0         0
NV            0         0         0  ...         0         0         0
NY            0         0         0  ...         0         0         0
OH            1         0         0  ...         0         0         0
OK            0         0         0  ...         0         0         0
OR            0         0         0  ...         0         0         1
PA            0         0         0  ...         0         0         0
RI            0         0         0  ...         0         0         0
SC            0         0         0  ...         0         0         0
SD            0         0         0  ...         0         0         0
TN            0         0         0  ...         0         0         0
TX            0         0         0  ...         0         0         0
UT            0         0         0  ...         0         0         0
VA            0         0         0  ...         0         0         0
VT            0         0         0  ...         0         0         0
WA            0         0         0  ...         0         0         0
WI            0         0         0  ...         0         0         0
WV            0         0         0  ...         0         0         0
WY            0         0         0  ...         0         1         0

Phone  422-6685  422-6690  422-7728  422-8268  422-8333  422-8344  422-9964
State
AK            0         0         0         0         0         0         0
AL            0         0         0         0         0         0         0
AR            0         0         0         0         0         0         0
AZ            0         0         0         0         0         0         0
CA            0         0         0         0         0         0         0
CO            0         0         0         0         0         0         0
CT            0         0         0         0         0         0         0
DC            0         0         0         0         0         0         0
DE            0         0         0         0         0         0         0
FL            0         0         0         0         0         0         0
GA            0         0         0         0         0         0         0
HI            0         0         0         0         0         0         0
IA            0         0         0         0         0         0         0
ID            0         0         0         0         0         0         0
IL            0         0         0         0         0         0         0
IN            0         0         0         0         0         0         0
KS            0         0         0         0         0         0         0
KY            0         0         0         0         0         0         0
LA            0         0         0         0         0         0         0
MA            0         0         0         0         0         0         0
MD            0         0         0         0         0         0         0
ME            0         0         0         0         0         0         0
MI            0         0         0         0         0         0         0
MN            0         0         0         0         0         0         0
MO            0         0         0         0         0         0         0
MS            0         0         0         0         0         0         0
MT            0         0         0         0         0         0         0
NC            0         0         0         0         0         0         0
ND            0         0         0         0         0         0         0
NE            0         0         0         0         1         0         0
NH            0         0         0         0         0         0         0
NJ            0         0         0         0         0         0         1
NM            0         0         0         0         0         0         0
NV            0         1         0         0         0         0         0
NY            0         0         1         0         0         0         0
OH            0         0         0         0         0         0         0
OK            0         0         0         0         0         0         0
OR            0         0         0         0         0         0         0
PA            0         0         0         0         0         0         0
RI            0         0         0         1         0         0         0
SC            0         0         0         0         0         0         0
SD            0         0         0         0         0         0         0
TN            0         0         0         0         0         0         0
TX            0         0         0         0         0         0         0
UT            0         0         0         0         0         0         0
VA            0         0         0         0         0         0         0
VT            0         0         0         0         0         0         0
WA            1         0         0         0         0         0         0
WI            0         0         0         0         0         0         0
WV            0         0         0         0         0         0         0
WY            0         0         0         0         0         1         0

[51 rows x 3333 columns]

-------------------------------------------------

Cross-Tabulation between State and Int'l Plan:

Int'l Plan  no  yes
State
AK          48    4
AL          72    8
AR          47    8
AZ          61    3
CA          30    4
CO          62    4
CT          66    8
DC          49    5
DE          51   10
FL          55    8
GA          50    4
HI          50    3
IA          44    0
ID          67    6
IL          43   15
IN          68    3
KS          62    8
KY          55    4
LA          50    1
MA          57    8
MD          60   10
ME          56    6
MI          64    9
MN          76    8
MO          57    6
MS          57    8
MT          66    2
NC          57   11
ND          54    8
NE          58    3
NH          52    4
NJ          62    6
NM          57    5
NV          57    9
NY          75    8
OH          69    9
OK          56    5
OR          71    7
PA          39    6
RI          55   10
SC          58    2
SD          55    5
TN          47    6
TX          66    6
UT          66    6
VA          68    9
VT          67    6
WA          62    4
WI          70    8
WV          99    7
WY          67   10

-------------------------------------------------

Cross-Tabulation between State and VMail Plan:

VMail Plan  no  yes
State
AK          36   16
AL          59   21
AR          41   14
AZ          45   19
CA          23   11
CO          47   19
CT          53   21
DC          36   18
DE          46   15
FL          43   20
GA          35   19
HI          38   15
IA          32   12
ID          45   28
IL          43   15
IN          53   18
KS          51   19
KY          44   15
LA          38   13
MA          46   19
MD          53   17
ME          45   17
MI          52   21
MN          60   24
MO          46   17
MS          44   21
MT          44   24
NC          48   20
ND          41   21
NE          44   17
NH          40   16
NJ          48   20
NM          48   14
NV          52   14
NY          65   18
OH          51   27
OK          44   17
OR          61   17
PA          33   12
RI          47   18
SC          42   18
SD          39   21
TN          39   14
TX          56   16
UT          52   20
VA          59   18
VT          57   16
WA          56   10
WI          55   23
WV          77   29
WY          59   18

-------------------------------------------------

Cross-Tabulation between State and Churn?:

Churn?  False.  True.
State
AK          49      3
AL          72      8
AR          44     11
AZ          60      4
CA          25      9
CO          57      9
CT          62     12
DC          49      5
DE          52      9
FL          55      8
GA          46      8
HI          50      3
IA          41      3
ID          64      9
IL          53      5
IN          62      9
KS          57     13
KY          51      8
LA          47      4
MA          54     11
MD          53     17
ME          49     13
MI          57     16
MN          69     15
MO          56      7
MS          51     14
MT          54     14
NC          57     11
ND          56      6
NE          56      5
NH          47      9
NJ          50     18
NM          56      6
NV          52     14
NY          68     15
OH          68     10
OK          52      9
OR          67     11
PA          37      8
RI          59      6
SC          46     14
SD          52      8
TN          48      5
TX          54     18
UT          62     10
VA          72      5
VT          65      8
WA          52     14
WI          71      7
WV          96     10
WY          68      9

-------------------------------------------------

Cross-Tabulation between Phone and Int'l Plan:

Int'l Plan  no  yes
Phone
327-1058     1    0
327-1319     1    0
327-3053     1    0
327-3587     1    0
327-3850     1    0
...         ..  ...
422-7728     1    0
422-8268     0    1
422-8333     1    0
422-8344     1    0
422-9964     1    0

[3333 rows x 2 columns]

-------------------------------------------------

Cross-Tabulation between Phone and VMail Plan:

VMail Plan  no  yes
Phone
327-1058     1    0
327-1319     0    1
327-3053     1    0
327-3587     0    1
327-3850     1    0
...         ..  ...
422-7728     1    0
422-8268     1    0
422-8333     0    1
422-8344     1    0
422-9964     1    0

[3333 rows x 2 columns]

-------------------------------------------------

Cross-Tabulation between Phone and Churn?:

Churn?    False.  True.
Phone
327-1058       1      0
327-1319       1      0
327-3053       1      0
327-3587       0      1
327-3850       1      0
...          ...    ...
422-7728       1      0
422-8268       1      0
422-8333       1      0
422-8344       1      0
422-9964       1      0

[3333 rows x 2 columns]

-------------------------------------------------

Cross-Tabulation between Int'l Plan and VMail Plan:

VMail Plan    no  yes
Int'l Plan
no          2180  830
yes          231   92

-------------------------------------------------

Cross-Tabulation between Int'l Plan and Churn?:

Churn?      False.  True.
Int'l Plan
no            2664    346
yes            186    137

-------------------------------------------------

Cross-Tabulation between VMail Plan and Churn?:

Churn?      False.  True.
VMail Plan
no            2008    403
yes            842     80

-------------------------------------------------

In [8]:
# Identify and define the categorical columns
categorical_columns = adult_data.select_dtypes(include=['object']).columns

# Loop through pairs of categorical columns and create cross-tabulations
for i, col1 in enumerate(categorical_columns):
    for col2 in categorical_columns[i+1:]:
        cross_tab = pd.crosstab(adult_data[col1], adult_data[col2])
        
        # Display the cross-tabulation and discuss results
        print(f"Cross-Tabulation between {col1} and {col2}:\n")
        print(cross_tab)
        print("\n-------------------------------------------------\n")

Cross-Tabulation between workclass and education::

education:        10th  11th  12th  1st-4th  5th-6th  7th-8th  9th  \
workclass
?                  100   118    40       12       30       72   51
Federal-gov          6     9     5        0        1        2    3
Local-gov           31    36    19        4        9       28   23
Never-worked         2     1     0        0        0        1    0
Private            695   923   333      136      266      424  387
Self-emp-inc        19    14     7        2        4       14   10
Self-emp-not-inc    67    60    19       13       19       94   34
State-gov           13    14    10        1        4       10    6
Without-pay          0     0     0        0        0        1    0

education:        Assoc-acdm  Assoc-voc  Bachelors  Doctorate  HS-grad  \
workclass
?                         47         61        173         15      532
Federal-gov               55         38        212         16      263
Local-gov                 88         86        477         27      503
Never-worked               0          0          0          0        1
Private                  729       1005       3551        181     7780
Self-emp-inc              35         38        273         35      279
Self-emp-not-inc          71        108        399         50      866
State-gov                 41         46        270         89      268
Without-pay                1          0          0          0        9

education:        Masters  Preschool  Prof-school  Some-college
workclass
?                      48          5           18           514
Federal-gov            67          0           29           254
Local-gov             342          4           29           387
Never-worked            0          0            0             2
Private               894         41          257          5094
Self-emp-inc           79          0           81           226
Self-emp-not-inc      124          0          131           486
State-gov             169          1           31           325
Without-pay             0          0            0             3

-------------------------------------------------

Cross-Tabulation between workclass and marital-status::

marital-status:   Divorced  Married-AF-spouse  Married-civ-spouse  \
workclass
?                      184                  2                 636
Federal-gov            168                  3                 471
Local-gov              369                  0                1023
Never-worked             1                  0                   1
Private               3119                 15                9732
Self-emp-inc           100                  0                 837
Self-emp-not-inc       292                  2                1680
State-gov              210                  1                 588
Without-pay              0                  0                   8

marital-status:   Married-spouse-absent  Never-married  Separated  Widowed
workclass
?                                    29            766         66      153
Federal-gov                          11            245         26       36
Local-gov                            22            530         63       86
Never-worked                          0              5          0        0
Private                             302           8186        754      588
Self-emp-inc                          5            125         20       29
Self-emp-not-inc                     31            409         53       74
State-gov                            17            413         43       26
Without-pay                           1              4          0        1

-------------------------------------------------

Cross-Tabulation between workclass and occupation::

occupation:          ?  Adm-clerical  Armed-Forces  Craft-repair  \
workclass
?                 1836             0             0             0
Federal-gov          0           317             9            64
Local-gov            0           283             0           146
Never-worked         7             0             0             0
Private              0          2833             0          3195
Self-emp-inc         0            31             0           106
Self-emp-not-inc     0            50             0           531
State-gov            0           253             0            56
Without-pay          0             3             0             1

occupation:       Exec-managerial  Farming-fishing  Handlers-cleaners  \
workclass
?                               0                0                  0
Federal-gov                   180                8                 23
Local-gov                     214               29                 47
Never-worked                    0                0                  0
Private                      2691              455               1273
Self-emp-inc                  400               51                  2
Self-emp-not-inc              392              430                 15
State-gov                     189               15                  9
Without-pay                     0                6                  1

occupation:       Machine-op-inspct  Other-service  Priv-house-serv  \
workclass
?                                 0              0                0
Federal-gov                      14             35                0
Local-gov                        12            193                0
Never-worked                      0              0                0
Private                        1913           2740              149
Self-emp-inc                     13             27                0
Self-emp-not-inc                 36            175                0
State-gov                        13            124                0
Without-pay                       1              1                0

occupation:       Prof-specialty  Protective-serv  Sales  Tech-support  \
workclass
?                              0                0      0             0
Federal-gov                  175               28     14            68
Local-gov                    705              304      7            38
Never-worked                   0                0      0             0
Private                     2313              190   2942           736
Self-emp-inc                 160                5    291             3
Self-emp-not-inc             373                6    385            26
State-gov                    414              116     11            57
Without-pay                    0                0      0             0

occupation:       Transport-moving
workclass
?                                0
Federal-gov                     25
Local-gov                      115
Never-worked                     0
Private                       1266
Self-emp-inc                    27
Self-emp-not-inc               122
State-gov                       41
Without-pay                      1

-------------------------------------------------

Cross-Tabulation between workclass and relationship::

relationship:     Husband  Not-in-family  Other-relative  Own-child  \
workclass
?                     489            439              63        538
Federal-gov           429            279              21         64
Local-gov             859            522              43        215
Never-worked            0              1               0          5
Private              8572           6006             774       3867
Self-emp-inc          786            168               8         56
Self-emp-not-inc     1542            516              50        155
State-gov             512            374              22        163
Without-pay             4              0               0          5

relationship:     Unmarried  Wife
workclass
?                       175   132
Federal-gov             126    41
Local-gov               300   154
Never-worked              0     1
Private                2478   999
Self-emp-inc             51    47
Self-emp-not-inc        155   123
State-gov               159    68
Without-pay               2     3

-------------------------------------------------

Cross-Tabulation between workclass and race::

race:             Amer-Indian-Eskimo  Asian-Pac-Islander  Black  Other  White
workclass
?                                 25                  65    213     23   1510
Federal-gov                       19                  44    169      7    721
Local-gov                         36                  39    288     10   1720
Never-worked                       0                   0      2      0      5
Private                          190                 713   2176    213  19404
Self-emp-inc                       2                  46     23      5   1040
Self-emp-not-inc                  24                  73     93      9   2342
State-gov                         15                  58    159      4   1062
Without-pay                        0                   1      1      0     12

-------------------------------------------------

Cross-Tabulation between workclass and sex::

sex:              Female   Male
workclass
?                    839    997
Federal-gov          315    645
Local-gov            835   1258
Never-worked           2      5
Private             7752  14944
Self-emp-inc         135    981
Self-emp-not-inc     399   2142
State-gov            489    809
Without-pay            5      9

-------------------------------------------------

Cross-Tabulation between workclass and native-country::

native-country:     ?  Cambodia  Canada  China  Columbia  Cuba  \
workclass
?                  27         1      14      7         3     3
Federal-gov        17         1       2      1         2     2
Local-gov          26         0       6      3         0     4
Never-worked        0         0       0      0         0     0
Private           410        16      79     49        46    69
Self-emp-inc       42         0       6      1         0     9
Self-emp-not-inc   42         1      11      5         7     8
State-gov          19         0       3      9         1     0
Without-pay         0         0       0      0         0     0

native-country:   Dominican-Republic  Ecuador  El-Salvador  England  ...  \
workclass                                                            ...
?                                  3        1            6        4  ...
Federal-gov                        0        0            2        4  ...
Local-gov                          3        1            5        5  ...
Never-worked                       0        0            0        0  ...
Private                           60       25           88       63  ...
Self-emp-inc                       2        0            1        2  ...
Self-emp-not-inc                   2        1            4        9  ...
State-gov                          0        0            0        3  ...
Without-pay                        0        0            0        0  ...

native-country:   Portugal  Puerto-Rico  Scotland  South  Taiwan  Thailand  \
workclass
?                        3            5         1      9       9         1
Federal-gov              1            8         0      1       0         0
Local-gov                1            7         0      0       2         0
Never-worked             0            0         0      0       0         0
Private                 27           85         9     43      26        10
Self-emp-inc             2            0         0      7       7         3
Self-emp-not-inc         2            5         1     20       1         3
State-gov                1            4         1      0       6         1
Without-pay              0            0         0      0       0         0

native-country:   Trinadad&Tobago  United-States  Vietnam  Yugoslavia
workclass
?                               1           1659        3           0
Federal-gov                     0            886        2           0
Local-gov                       1           1956        3           1
Never-worked                    0              7        0           0
Private                        14          20135       53          13
Self-emp-inc                    1            991        1           1
Self-emp-not-inc                1           2313        4           1
State-gov                       1           1210        1           0
Without-pay                     0             13        0           0

[9 rows x 42 columns]

-------------------------------------------------

Cross-Tabulation between workclass and class:

class             <=50K  >50K
workclass
?                  1645   191
Federal-gov         589   371
Local-gov          1476   617
Never-worked          7     0
Private           17733  4963
Self-emp-inc        494   622
Self-emp-not-inc   1817   724
State-gov           945   353
Without-pay          14     0

-------------------------------------------------

Cross-Tabulation between education: and marital-status::

marital-status:  Divorced  Married-AF-spouse  Married-civ-spouse  \
education:
10th                  120                  0                 349
11th                  130                  0                 354
12th                   39                  0                 130
1st-4th                10                  0                  81
5th-6th                20                  0                 172
7th-8th                73                  0                 359
9th                    64                  0                 230
Assoc-acdm            203                  2                 460
Assoc-voc             234                  1                 689
Bachelors             546                  4                2768
Doctorate              33                  0                 286
HS-grad              1613                 13                4845
Masters               233                  0                1003
Preschool               1                  0                  20
Prof-school            55                  0                 412
Some-college         1069                  3                2818

marital-status:  Married-spouse-absent  Never-married  Separated  Widowed
education:
10th                                15            361         49       39
11th                                19            586         48       38
12th                                 8            232         14       10
1st-4th                             12             39          9       17
5th-6th                             20             89         18       14
7th-8th                             14            113         23       64
9th                                  9            155         33       23
Assoc-acdm                          12            337         30       23
Assoc-voc                           13            362         42       41
Bachelors                           68           1795         92       82
Doctorate                            7             73          7        7
HS-grad                            121           3089        406      414
Masters                             17            404         25       41
Preschool                            4             22          1        3
Prof-school                          3             93          8        5
Some-college                        76           2933        220      172

-------------------------------------------------

Cross-Tabulation between education: and occupation::

occupation:     ?  Adm-clerical  Armed-Forces  Craft-repair  Exec-managerial  \
education:
10th          102            38             0           170               24
11th          119            67             0           175               34
12th           40            38             1            58               13
1st-4th        12             0             0            23                4
5th-6th        30             6             0            43                1
7th-8th        73            11             0           116               19
9th            51            14             0            96               13
Assoc-acdm     47           193             0           115              145
Assoc-voc      61           167             0           252              150
Bachelors     173           506             1           226             1369
Doctorate      15             5             0             2               55
HS-grad       533          1365             4          1922              807
Masters        48            68             1            22              501
Preschool       5             2             0             4                0
Prof-school    18             9             0             7               52
Some-college  516          1281             2           868              879

occupation:   Farming-fishing  Handlers-cleaners  Machine-op-inspct  \
education:
10th                       44                 71                101
11th                       37                123                 99
12th                       16                 38                 35
1st-4th                    18                 16                 23
5th-6th                    36                 40                 56
7th-8th                    70                 46                 93
9th                        28                 49                 76
Assoc-acdm                 14                 24                 33
Assoc-voc                  52                 28                 63
Bachelors                  77                 50                 69
Doctorate                   1                  0                  1
HS-grad                   404                611               1023
Masters                    10                  5                  8
Preschool                   9                  2                 11
Prof-school                 4                  0                  1
Some-college              174                267                310

occupation:   Other-service  Priv-house-serv  Prof-specialty  Protective-serv  \
education:
10th                    194                6               9                6
11th                    238               14              20                7
12th                     85                4              10                6
1st-4th                  40               11               4                1
5th-6th                  64               14               1                1
7th-8th                  98                8               9                9
9th                     101               10               3                4
Assoc-acdm               78                2             138               34
Assoc-voc               115                4             170               48
Bachelors               181                7            1495              100
Doctorate                 1                0             321                0
HS-grad                1281               50             233              215
Masters                  19                1             844               15
Preschool                15                2               1                0
Prof-school               4                0             452                1
Some-college            781               16             430              202

occupation:   Sales  Tech-support  Transport-moving
education:
10th             81             3                84
11th            144             6                92
12th             47             3                39
1st-4th           8             0                 8
5th-6th          12             1                28
7th-8th          29             5                60
9th              32             2                35
Assoc-acdm      144            73                27
Assoc-voc       106           126                40
Bachelors       809           230                62
Doctorate         8             3                 1
HS-grad        1069           159               825

In [6]:
cross_tab = pd.crosstab(adult_data['workclass'], adult_data['sex:'])

# Display the cross-tabulation and discuss results
print(f"Cross-Tabulation between {'workclass'} and {'sex:'}:\n")
print(cross_tab)
print("\n-------------------------------------------------\n")

cross_tab = pd.crosstab(adult_data['workclass'], adult_data['class'])

# Display the cross-tabulation and discuss results
print(f"Cross-Tabulation between {'workclass'} and {'sex:'}:\n")
print(cross_tab)

Cross-Tabulation between workclass and sex::

sex:              Female   Male
workclass
?                    839    997
Federal-gov          315    645
Local-gov            835   1258
Never-worked           2      5
Private             7752  14944
Self-emp-inc         135    981
Self-emp-not-inc     399   2142
State-gov            489    809
Without-pay            5      9

-------------------------------------------------

Cross-Tabulation between workclass and sex::

class             <=50K  >50K
workclass
?                  1645   191
Federal-gov         589   371
Local-gov          1476   617
Never-worked          7     0
Private           17733  4963
Self-emp-inc        494   622
Self-emp-not-inc   1817   724
State-gov           945   353
Without-pay          14     0